.contItem{
    padding: 10px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    border: 1px solid #f4f4f4;
}

.contItem > div:nth-child(1){
    width: 10%;
}

.contItem > div:nth-child(2){
    width: 30%;
}

.contItem > div:nth-child(3){
    width: 30%;
}

.contItem > div:nth-child(4){
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contItem > div:nth-child(5){
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titles > span{
    display: block;
    width: 100%;
    font-family: inum;
}

.titles > span:nth-child(2){
    color: #b7b3b3;
}

.titles > span:nth-child(3){
    font-family: inum;
}

.modes > div > span:nth-child(1){
    padding: 5px;
    font-family: ireg;
    font-size: 14px;
    color: #a7a7a7;
    background: #fff;
}

.modes > div > span:nth-child(2){
    padding: 5px;
    font-family: ireg;
    font-size: 14px;
    background: #fff;
}

.modes > div > span:nth-child(3){
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 100%;
    margin-right: 5px;
}

.modes > div {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.change {
    width: 100%;
    background: #f6f6f6;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.change button{
    border: none;
padding: 10px 13px;
background: #fff;
cursor: pointer;
}

.table{
    width: 100%;
font-family: ireg;
font-weight: 400;
}

.table th{
    font-family: ireg;
    font-weight: 400;
}

.table tbody td{
    border-bottom: 2px solid #ececec;
}

.table thead{
    background: #eee;
}

.pname{
    width: 100%;
    display: block;
    font-size: 15px;
    font-family: inum;
}

.ename{
    width: 100%;
    display: block;
    font-size: 13px;
    font-family: inum;
}

.attr{
    display: flex;
align-items: center;
}

.itemAt{
    margin-left: 20px;
    font-size: 14px;
    color: #afafaf;
    display: flex;
    align-items: center;
}

.itemAt > span:nth-child(2){
    margin-right: 5px;
}

.itemAt > span:nth-child(3){
    width: 15px;
height: 15px;
display: inline-block;
margin-right: 6px;
border-radius: 100%;
}

.pricing{
    text-align: center;
font-family: inum;

}

.pricing h5{
    font-weight: 400;
}

.fooTit span{
    display: block;
    color: #8a8a8a;
    font-family: inum;
    font-size: 16px;
}

.contFoo{
    display: flex;
width: 44%;
justify-content: left;
background: #eee;
margin-top: 10px;
padding: 15px 0;
border-radius: 5px;
}

.contFoo > div{
    width: 48%;
}

.empty{
    width: 100%;
position: absolute;
text-align: center;
left: 0;
}